@import 'settings';
@import 'mixins';
@import 'functions';


.#{$rowlow-ratio-container-namespace}ratio-container{
	position: relative;
	&:before{
		content: '';
		display: block;
	}
	> *{
		position: absolute;
		top: 		0;
		left: 		0;
		right: 		0;
		bottom:		0;
	}
}

@each $breakpoint-name, $breakpoint-value in $rowlow-breakpoints {
	@media (min-width: $breakpoint-value + px) {
		@each $rowlow-ratio in $rowlow-ratios {
			.#{$rowlow-ratio-container-namespace}ratio-container--#{$breakpoint-name}--#{nth($rowlow-ratio, 1)}by#{nth($rowlow-ratio, 2)}{
				@extend .#{$rowlow-ratio-container-namespace}ratio-container;
				&:before{
					padding-top: nth($rowlow-ratio, 2)/nth($rowlow-ratio, 1) * 100%;
				}
			}
		}
	}
}
